
.grid{
    background-color: rgba(0,26,48,.1);
    position: relative;
    height: 90vh;
    top: 50px;
}
.product__image{
    display: flex;
    left: 0;
    margin: auto;
    width: calc(100% - 65%);
}
.product__details{
    background: #fafafa;
    font-size: 1.4em;
    position: relative;
    left: 1020px;
    bottom: 500px;
    height: 190px;
    width: 450px;
    text-align: center;   
}

.product__title{
    font-weight: 900;
    font-size: 1.2em;
    top: 50px;
    margin: 0 25px;
    float: left;
    position: absolute;
}

.product__tag{
    position: relative;
    left: 25px;
    top: 15px;
    float: left;
    background-color: #2f2e3c;
    color: #fff;
    font-size: 12px;
    font-weight: 700;
    line-height: 14px;
    padding: 4px 25px;
    text-transform: uppercase;
    margin-bottom: 16px;
    -webkit-clip-path: polygon(6px 0%,100% 0%,calc(100% - 6px) 100%,0% 100%);
    clip-path: polygon(6px 0%,100% 0%,calc(100% - 6px) 100%,0% 100%);
}

.product__info{font-size: .9em; float: left; padding: 55px 25px;}
.product__price{padding: 0 25px; font-weight: 900; font-size: 1.4em; bottom: 45px; position: relative; float: left;}
.grid--bottom{
    width: 100%;
    height: 200px;
    top: 195px;
    background: #fafafa;
    position: inherit;
}
.grid--bottom span {
    font-size: .9em;
    font-weight: 900;
    color: palevioletred;
    bottom: 170px;
    float: left;
    right: 130px;
    position: relative;
}

.contador-container{
    position: relative;
    bottom: 80px;
    right: 100px;
}

.Item-detail-add-to-cart{
    font-size: .75em;
    left: 0;
    top: 102px;
    margin: auto;
    width: max-content;
    padding: 16px 25%;
    border-radius: 4px;
    border: none;
    color: #fff;
    cursor: pointer;
    outline: 2px solid rgba(255,211,0,.5);
    outline-offset: -2px;
    text-align: center;
    background: linear-gradient(90deg,#ffd300 0%,#d41e33 100%);}

.slider-image{  
    position: absolute;
    height: 100%;
    width: 400px;
    background:transparent;
    top: 0;
    display: block;
}

.slider-image-img{
    position: relative;
    width: 50px;
    height: 50px;
    top: 100px;
    margin: 50px 100px;
    padding: 50px 25px;
    background: #fafafa;
}

.slider-image-img:hover{
    border: 1px solid black;
    cursor: pointer;
}