/* SERIF FONTS */
@font-face {
   font-family: "GraphikRegular";
   src: url("../../assets/fonts/GraphikRegular.otf") format("opentype"),}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

/* /\/\\/\ */
/* NAV BAR */
.navbar-style { z-index: 4; position: fixed ; width: 100%; height: 110px; background-color: #fafafa; display: flex; left: 0;
 border-radius: 1%;}
/*  LOGO   */
.brand{z-index: 1;}
.logo {position: absolute; top: 60px; left: 15%; width: 80px; transform: translate(-50%, -50%); cursor: pointer;}
/*ITEMS LIST*/
.header--list { display: flex; position: relative; right:70px; text-align: center;}
/*LIST ITEMS*/
.list-item {top: 45px; position: relative; list-style: none; width: auto; height: min-content;
   font-size: 1.2em; font-weight: 600;}
   /* HOVER DE SUBNAV*/
.sale, .products , .mayorista, .tips{padding: 15px 10px;}
/*EFECTOS*/

.list-item a {
   position: inherit;
   text-decoration: none; font-family: 'GraphikRegular', 'Poppins', sans-serif; 
   max-height: max-content;
   width: auto;color: #000;}
   .list-item-left a:hover{
   width: 450px;
   background:transparent;
   color: red
   }
.active a {color: red;}
/* CLICKABLES */
.Cart { width: 40px; position: relative; right: 0;} .Shopping-cart { position: relative; left: 520px; width: max-content;}
.User { width: 40px; position: relative; right: 0; top: 0;} .User-login { position: relative; left:735px; width: max-content;}
/* /\/\\/\ */
/* SEARCH BAR*/
input[type="checkbox"] {display: none;}
.search{background: transparent;}
.search-container{background: #fafafa;}
.box { position: relative; z-index: 1;top: 20px; left: 33%; transform: translate(-50%, -50%); width: 400px; height: 60px;}
.box label {position: absolute; right: 0; width: 60px; height: 60px; line-height: 60px; border-radius: 50%; color: gray;
   text-align: center; cursor: pointer; transition: .5s; font-size: 23px; background:transparent;}
.box label:hover {box-shadow: -5px -5px -8px #edeff1, 5px 5px 10px #cacfd8;}
.box input {width: 400px; height: 100%; background-color: #fff; border: none; border-radius: 20px; outline: none;
   font-size: 19px; padding-left: 20px; color: gray; box-shadow: -5px -5px 10px #edeff1, 5px 5px 5px #cacfd8;}
/* /\/\\/\ */
/* PENDIENTES */
/* 1- CREAR HOVER PARA LOS VÍNCULOS
   2- CREAR MODAL PARA LOS VÍNCULOS
   3- AÑADIR HAMBURGUER PARA MOBILE
   4- CONTADOR PARA EL SHOPPING-CART
*/

/*SUBNAV*/
.subnav{
   display: none;
   z-index: 3;
   left: 60px;
   margin: auto;
   top: 97.1px;
   position: fixed;
   width: 1400px;
   height: 550px;
   background: #fff;
   transition:ease-in;}
.subnav--list{
   top: 36px;
   columns: 2;
   width: max-content;
   position: relative;
   font-size: 1.1em;
   font-weight: 500;
   position: relative;}
.subnav--list .subnav-item:hover{
   width: auto;}
.subnav-item{
   width: auto;
   display: block;   
   padding: 0 5px;}
.subnav-item-container{
   width: min-content;
   height: min-content;}
.subnav--title{width: min-content; padding: 0 116px; margin-top: 40px; position: relative; font-weight: 900;}
.subnav--subtitle{position: relative; bottom: 162px; font-weight: 900; left: 400px; font-size: 1em;}

.image-container{
   left: 600px;
   bottom: 150px;
   position: relative;
   width: 300px;
   height: 325px;}

.subnav-image{cursor: pointer; width: 100%;}
.subnav-image:hover{outline: 1px solid black;}

.subnav-button{
position: relative;
bottom: 205px;
padding: 20px 25px;
outline: 1px solid black;}
.subnav-button:hover{
   background: #001a30;
   transition: .4s ease-out;
}
.subnav-button:hover{
   color: #fafafa;
}





/* HOVER TRANSITIONS*/
   /*PANTALLA NEGRA*/
   .overlay{display:none; background: rgba(0,0,0,.7); width: 100%; min-height: 100%; position: fixed; top: 97px; left: 0;
   z-index: 2;}
   /* PANTALLA NEGRA ON HOVER*/
   .list-item:hover > .subnav{ display: block;}
   .products:hover > .overlay{display: block;}
   .products:hover > .overlay:hover{ display: none;}
   .products:hover {background: white}

   /*VER LINKS ON HOVER*/
   
