@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
*,*::after,*::before{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 100%;
    vertical-align: baseline;
    scroll-behavior: smooth;}
#root{background-color: #fafafa;
    height: 100%;
    background-color: rgba(var(--b3f,250,250,250),1);}
.list-item {top: 45px; position: absolute; list-style: none; padding: 0 15px; width: auto; height: min-content;
    font-size: 1.4em; font-weight: 600; left: 300px;}

.botonprv{position: absolute; top: 700px;}
button{ border: none; font-weight: 900; background: transparent; position: relative; left: 5px;}
button:hover{background-color: none;}
.my-hero{
position: absolute; top: 100px; left: 0; width: 100%; height: 73vh; background: black;
background-image: url('./assets/img/background.jpg');
background-size: cover;
background-repeat: no-repeat;
background-position: center -110px;
filter: saturate(250%);
background-attachment:fixed;
scroll-behavior: smooth;}
.my-hero-container{
    position: relative;
    width: 100%;
    height: auto;}

.My-Footer{
    left: 0;
    text-align: center;
    width: 200.2vh;
    height: 77.12px;
    position: relative;
    background: black;
    color: #fafafa;
    font-weight: 500;
}
.My-Footer h3{
    align-items: center;
    justify-content: center;
    display: flex;
    font-size: 2em;
}

.tips-container{
    width: 100%;
    background: rgba(255, 192, 203, 0.747);
    height: 100vh;
    position: relative;
    top: 120px;
}

.tips-container h3{
    font-size: 3em;
    text-align: center;
    font-weight: 900;
}
.tips-links{
    width: 100%;
    height: 100vh;
}
.tips-links ul{
    list-style: none;
}
.tips-links ul Link {
    text-decoration: none;
    color: #fff
}

.mayorista-container{
    width: 100%;
    height: 100vh;
    background-color: aquamarine;
    position: relative;
}
.mayorista-container h3{
    position: relative;
    text-align: center;
    color: #fff;
    font-size: 3em;
    font-weight: 900;
    top: 150px;
}

.Cart--Container {
    width: 100%;
    background: #d9d9d9;    
}

.Cart-view-popup-top{
    font-size: 1.1em;
    margin: 10px 10px;
}
.Cart-view-status{
    font-size: 2em;
    margin: 10px 10px;
    color: red;
}
.empty-img img{
    width: 100%;
    top: 200px;
    position: relative;
    top: 75px;}
.Cart-view-item-name{
    position: relative;
    top: 33px;
    font-size: 1.5em;
}
.Cart-view-img-container{
    position: relative;
    width: 110px;
    left: -125px;
    height: 104px;
    margin: 0 15px;
    
}
.Cart-view-img-container img{
    width: 100%;
}
.line{
    width: 300px;
    bottom: 105px;
    position: relative;
    
}
.Cart-view-item-container{

    position: relative;
    height: 150px;
    width: 70%;
    float: right;
}
.cart-view-price{
    position: relative;
    bottom: 95px;
    left: 125px;
    font-size: 1.2em;
    font-weight: 700;
}
.cart-view-price p{
    color:#001a30;
}
.Cart-view-buttons button{
    outline: 1px solid #d9d9d9;
    width: max-content;
    padding: 2px 10px;
    margin: 0 10px;
    position: relative;
    bottom: 30px;
}
.Cart-view-buttons button:hover{
    outline: 1.9px solid #d9d9d9;
}
.Cart-view-buttons button:focus{
    outline: 2.3px solid #001a30;
}
.Cart-view-prices{
    height: 100px;
    position: absolute;
    width: 230px;
    bottom: 20px;
    right: 0;
}
.cart-add-to-cart{ left: -70px; top:15px; margin: auto;width: 100%; padding: 16px 25%; border-radius: 4px;
    border: none; position: relative;
    color: #fff; cursor: pointer; outline: 2px solid rgba(255,211,0,.5); outline-offset: -2px; text-align: center;
    background: linear-gradient(90deg,#ffd300 0%,#d41e33 100%);}
/*ESTE ES EL CONTENEDOR DEL BASKET*/
/* .Cart-Container{} */
.close-popup{
    font-size: 2em;
    position: absolute;
    left: 90%;
    top: 1px;
    color:black;}
.close-popup:hover{
    color: red;
}


.shoppingcart{
    position: relative;
    top: 150px;
    height: 100vh;
    width: 100%;
    background-color: #d9d9d9;
}
.shoppingcart h2{
    margin: 10px 60px;
    background: #fafafa;
}
.product-on-cart{
    margin: 60px;
    outline: 1px solid #d9d9d9;
}
.shoppingcart-item-container{
    width: 100%;
    height: 153px;
}
.cart-container{
    background: #fafafa;
}
.shoppingcart-img-container{
    position: relative;
    left: 75px;
    width: 130px;
    bottom: 45px;
}
.shoppingcart-img-container img{
    width: 100%;
}
.shopping-cart-name{
    font-size: 1.5em;
    position: relative;
    width: max-content;
    left: 232px;
    top: 50px;
}
.shoppingcart-buttons{
    display: flex;
}
.shoppingcart-buttons button{
    outline: 1px solid #d9d9d9;
    width: min-content;
    padding: 2px 15px;
    margin: 0 10px;
    position: relative;
    bottom: 140px;
    left: 700px;
}
.shoppingcart-buttons p{
    position: relative;
    left: 700px;
    font-size: 2em;
    bottom: 135px;
    width: max-content;
}
.shoppingcart-price{
    position: relative;
    float: right;
    right: 50px;
    bottom: 200px;
    font-size: 2em;
}

.shoppingcart-filters{
    display: flex;
    list-style: none;
}
.shoppingcart-filters li{
    margin: 0 250px;
    font-size: 1.2em;
    position: relative;
    left: -100px;
}
